<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94256225130-gfrtd2ka217d3aq7htad0h29l96coqof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94256225130-gfrtd2ka217d3aq7htad0h29l96coqof</string>
	<key>API_KEY</key>
	<string>AIzaSyA1sHiJnJ8g0q_6kuTfldOBU30zwxvXBMs</string>
	<key>GCM_SENDER_ID</key>
	<string>94256225130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flintt.ios</string>
	<key>PROJECT_ID</key>
	<string>flintt-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flintt-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94256225130:ios:bf63225788735d1dcda313</string>
</dict>
</plist>