<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080402766056-ilpj12uj413344rv3prb6qmagvqhhilt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080402766056-ilpj12uj413344rv3prb6qmagvqhhilt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1080402766056-jamj462e7kbjjmplt6om0b1qcl6ia36d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRBo9dyvyu1PlxYqjkn6C0tLf3TarC9MY</string>
	<key>GCM_SENDER_ID</key>
	<string>1080402766056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flintt2.ios</string>
	<key>PROJECT_ID</key>
	<string>flintt-17227</string>
	<key>STORAGE_BUCKET</key>
	<string>flintt-17227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080402766056:ios:27e6a5fa9e2c8f2992415d</string>
	<key>DATABASE_URL</key>
	<string>https://flintt-17227.firebaseio.com</string>
</dict>
</plist>